

.my-name{
    font-family: 'Lucida Sans';
    font-size: 30px;
    color: antiquewhite;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    text-align: center;
    }
    .me{ 
        
        
        border-radius: 250px;
        
    }
    .me {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 250px;
      }
    #objective{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        color:rgb(236, 232, 225);
        width: 1000px;
        text-align: center;
        margin: auto;
    }
    #main-body{
 
        
        margin: auto;
        max-width: 500px;
        font-size: 30px;
        color: rgb(240, 240, 247);
        margin-bottom: 150px;
        margin-top: 150px;


    }
   
    nav{
         
            width: auto;
            max-width: 800px;
            background-color: rgb(160, 133, 129);
            margin: 0 auto;
            top: 0;
            right: 0;
            bottom: auto;
            left: 0;
            font-size: 25px;
            text-align: center;
            position: fixed;
            
        }

    

    nav ul li { 
          display: inline-block;
          
}

nav ul li a {
    text-decoration: none;/*Disable the underline */
    display: inline-block;
    padding: 10px 16px;
}
nav ul li a:hover,nav ul li a:focus,nav ul li a:active{
    background-color: rgb(50,50,50);
    color: #fff;
}
body{
background-image: url(../img/wood.webp);
background-size: cover;/*cover the whole element*/
background-repeat:no-repeat;
background-position: center;/* can be co-ordinates like : 50px 75px*/
background-attachment:fixed;
}
footer{
   
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    color: rgb(14, 13, 13);
    padding: 2px;
    margin: auto;
}   
.ed{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    color: rgb(23, 8, 88);
    margin-top: 100px;
    max-width: 1500px;
    text-align: center;
    

}
.ed2{
    
    margin: auto;
    margin-top: 50px;
    padding-top: 0px;
    max-width: 500px;
    font-size: 30px;
    color: rgb(240, 240, 247);
    margin-bottom: 150px;
    margin-top: 150px;


}
img{
    border-radius: 250px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
  }
  .ed3{
      font-family: fantasy;
      font-size: 30px;
      align-items: center;
      margin: auto;
      color: cornsilk;
      text-align: center;
      max-width: 600;
  } 
  